@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body{background-color:red;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}
.animate-typing {
  display: inline-block;
  width: 0;
  animation: typing 2.5s steps(24) forwards, blink 0.8s infinite;
}