@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body{background-color:red;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}
.animate-typing {
  display: inline-block;
  width: 0;
  animation: typing 2.5s steps(24) forwards, blink 0.8s infinite;
}